<section class="contact" id="contact">
  <picture>
    <source
      media="(min-width: 1440px)"
      srcset="./img/decor/contact-bgd-1.png"
    />
    <img
      class="contact__gems-left"
      src="./img/decor/contact-bgd-1-mobile.png"
      alt=""
      width="66"
      height="117"
      loading="lazy"
      decoding="async"
    />
  </picture>

  <picture>
    <source
      media="(min-width: 1440px)"
      srcset="./img/decor/contact-bgd-2.png"
    />
    <img
      class="contact__gems-right"
      src="./img/decor/contact-bgd-2-mobile.png"
      alt=""
      width="105"
      height="126"
      loading="lazy"
      decoding="async"
    />
  </picture>

  <picture>
    <source
      media="(min-width: 1440px)"
      srcset="./img/decor/contact-bird-bgd.png"
    />
    <img
      class="contact__bird"
      src="./img/decor/contact-bird-bgd-mobile.png"
      alt=""
      width="64"
      height="64"
      loading="lazy"
      decoding="async"
    />
  </picture>

  <div class="container">
    <div class="contact__inner">
      <p class="section-label contact__label">Contact</p>
      <h2 class="section-title contact__title">
        Ready for a calmer kind of challenge?
      </h2>
      <div class="contact__cta">
        <load src="partials/google-play.html" class="pulse-btn" />
      </div>
      <a class="contact__email" href="mailto:info@novaparcel.space"
        >info@novaparcel.space</a
      >
    </div>
  </div>
</section>
