<a
  class="google-play {=$class}"
  href="https://play.google.com/store/apps/details?id=com.remivision.HexaDiamonds&hl=en&gl=us"
  target="_blank"
  rel="noopener noreferrer"
  aria-label="Get it on Google Play"
>
  <svg class="google-play__icon" width="24" height="26" aria-hidden="true">
    <use href="./sprite.svg#icon-icon"></use>
  </svg>
  <span class="google-play__text">
    <span class="google-play__caption">Get it on</span>
    <span class="google-play__label">Google Play</span>
  </span>
</a>
