<header class="header">
  <div class="header-container">
    <div class="header__bar">
      <a
        class="header__logo"
        href="./index.html"
        aria-label="Hexa Diamonds home"
      >
        <img
          src="./img/logo.png"
          srcset="./img/logo.png 1x, ./img/logo@2x.png 2x"
          alt="Hexa Diamonds"
          width="56"
          height="56"
        />
      </a>

      <nav class="header__nav" aria-label="Primary">
        <ul class="header__list">
          <li>
            <a class="header__link" href="{=$home}#about">About the Game</a>
          </li>
          <li>
            <a class="header__link" href="{=$home}#how-to-play">How to Play</a>
          </li>
          <li><a class="header__link" href="{=$home}#features">Features</a></li>
          <li><a class="header__link" href="{=$home}#reviews">Reviews</a></li>
          <li><a class="header__link" href="{=$home}#contact">Contact</a></li>
        </ul>
      </nav>

      <div class="header__cta">
        <load src="partials/google-play.html" class="" />
      </div>

      <button
        class="burger-btn"
        type="button"
        data-action="open"
        aria-label="Open menu"
        aria-controls="mobile-menu"
        aria-expanded="false"
      >
        <span class="burger-btn__icon" aria-hidden="true">
          <span></span>
          <span></span>
        </span>
      </button>
    </div>
  </div>
</header>

<div class="mobile-menu" id="mobile-menu" data-visible="close" hidden>
  <div class="mobile-menu__bar">
    <a class="header__logo" href="./index.html" aria-label="Hexa Diamonds home">
      <img
        src="./img/logo.png"
        srcset="./img/logo.png 1x, ./img/logo@2x.png 2x"
        alt="Hexa Diamonds"
        width="40"
        height="40"
      />
    </a>
    <button
      class="mobile-menu__close"
      type="button"
      data-action="close"
      aria-label="Close menu"
    >
      <svg width="18" height="18" viewBox="0 0 18 18" aria-hidden="true">
        <path
          d="M3 3l12 12M15 3L3 15"
          stroke="currentColor"
          stroke-width="2.5"
          stroke-linecap="round"
        />
      </svg>
    </button>
  </div>
  <div class="mobile-menu__body">
    <div class="mobile-menu__logo">
      <img
        src="./img/logo.png"
        srcset="./img/logo.png 1x, ./img/logo@2x.png 2x"
        alt=""
        width="120"
        height="120"
      />
    </div>
    <nav class="mobile-menu__nav" aria-label="Mobile">
      <a class="mobile-menu__link" href="{=$home}#about">About the Game</a>
      <a class="mobile-menu__link" href="{=$home}#how-to-play">How to Play</a>
      <a class="mobile-menu__link" href="{=$home}#features">Features</a>
      <a class="mobile-menu__link" href="{=$home}#reviews">Reviews</a>
      <a class="mobile-menu__link" href="{=$home}#contact">Contact</a>
    </nav>
    <div class="header__cta-menu">
      <load src="partials/google-play.html" class="" />
    </div>
  </div>
</div>
