<section class="hero" id="hero">
  <div class="hero__media">
    <picture>
      <source
        media="(min-width: 1440px)"
        srcset="./img/hero-1x.jpg 1x, ./img/hero-2x.jpg 2x"
      />
      <img
        class="hero__bg"
        src="./img/hero-mobile-1x.jpg"
        srcset="./img/hero-mobile-1x.jpg 1x, ./img/hero-mobile-2x.jpg 2x"
        alt=""
        width="543"
        height="360"
      />
    </picture>

    <div class="container">
      <div class="hero__content">
        <p class="hero__eyebrow">Hexa Diamonds</p>
        <h1 class="hero__title">
          <span class="hero__title-line hero__title-line--purple">Think Sharp.</span>
          <span class="hero__title-line hero__title-line--pink">Shine Bright.</span>
        </h1>
        <p class="hero__text">
          Relaxing hexagon puzzles powered by magical diamonds. Every piece fits.
          Every puzzle shines.
        </p>
        <load src="partials/google-play.html" class="" />
      </div>
    </div>

    <img
      class="hero__edge"
      src="./img/decor/mountain-bgd-hero.png"
      alt=""
      width="1440"
      height="332"
    />
  </div>
</section>
