<section class="reviews" id="reviews">
  <picture>
    <source
      media="(min-width: 1440px)"
      srcset="./img/decor/bird-right-bgd.png"
    />
    <img
      class="reviews__bird"
      src="./img/decor/bird-right-bgd-mobile.png"
      alt=""
      width="120"
      height="100"
    />
  </picture>
  <picture>
    <source
      media="(min-width: 1440px)"
      srcset="./img/decor/mountain-bgd-reviews.png"
    />
    <img
      class="reviews__edge"
      src="./img/decor/mountain-bgd-reviews-mobile.png"
      alt=""
      width="375"
      height="326"
    />
  </picture>

  <div class="container">
    <div class="reviews__header">
      <p class="section-label reviews__label">Reviews</p>
      <h2 class="section-title reviews__title">What players are saying</h2>
    </div>

    <div class="reviews__slider" data-reviews-slider>
      <div class="reviews__track" data-reviews-track>
        <article class="reviews__card">
          <svg
            class="icon icon--avatar"
            width="48"
            height="48"
            aria-hidden="true"
          >
            <use href="./sprite.svg#icon-frame-9"></use>
          </svg>
          <div class="reviews__author">
            <div>
              <p class="reviews__name">HexMindPlayer</p>
              <div class="reviews__stars" aria-label="5 out of 5 stars">
                <svg
                  class="icon icon--star"
                  width="20"
                  height="20"
                  aria-hidden="true"
                >
                  <use href="./sprite.svg#icon-star-5"></use>
                </svg>
                <svg
                  class="icon icon--star"
                  width="20"
                  height="20"
                  aria-hidden="true"
                >
                  <use href="./sprite.svg#icon-star-5"></use>
                </svg>
                <svg
                  class="icon icon--star"
                  width="20"
                  height="20"
                  aria-hidden="true"
                >
                  <use href="./sprite.svg#icon-star-5"></use>
                </svg>
                <svg
                  class="icon icon--star"
                  width="20"
                  height="20"
                  aria-hidden="true"
                >
                  <use href="./sprite.svg#icon-star-5"></use>
                </svg>
                <svg
                  class="icon icon--star"
                  width="20"
                  height="20"
                  aria-hidden="true"
                >
                  <use href="./sprite.svg#icon-star-5"></use>
                </svg>
              </div>
              <p class="reviews__text">
                Such a relaxing way to exercise my brain.
              </p>
            </div>
          </div>
        </article>

        <article class="reviews__card">
          <svg
            class="icon icon--avatar"
            width="48"
            height="48"
            aria-hidden="true"
          >
            <use href="./sprite.svg#icon-frame-9-1"></use>
          </svg>
          <div class="reviews__author">
            <div>
              <p class="reviews__name">Anna W.</p>
              <div class="reviews__stars" aria-label="5 out of 5 stars">
                <svg
                  class="icon icon--star"
                  width="20"
                  height="20"
                  aria-hidden="true"
                >
                  <use href="./sprite.svg#icon-star-5"></use>
                </svg>
                <svg
                  class="icon icon--star"
                  width="20"
                  height="20"
                  aria-hidden="true"
                >
                  <use href="./sprite.svg#icon-star-5"></use>
                </svg>
                <svg
                  class="icon icon--star"
                  width="20"
                  height="20"
                  aria-hidden="true"
                >
                  <use href="./sprite.svg#icon-star-5"></use>
                </svg>
                <svg
                  class="icon icon--star"
                  width="20"
                  height="20"
                  aria-hidden="true"
                >
                  <use href="./sprite.svg#icon-star-5"></use>
                </svg>
                <svg
                  class="icon icon--star"
                  width="20"
                  height="20"
                  aria-hidden="true"
                >
                  <use href="./sprite.svg#icon-star-5"></use>
                </svg>
              </div>
              <p class="reviews__text">
                The companion is such a charming little addition.
              </p>
            </div>
          </div>
        </article>

        <article class="reviews__card">
          <svg
            class="icon icon--avatar"
            width="48"
            height="48"
            aria-hidden="true"
          >
            <use href="./sprite.svg#icon-frame-9-2"></use>
          </svg>
          <div class="reviews__author">
            <div>
              <p class="reviews__name">PuzzleFox</p>
              <div class="reviews__stars" aria-label="5 out of 5 stars">
                <svg
                  class="icon icon--star"
                  width="20"
                  height="20"
                  aria-hidden="true"
                >
                  <use href="./sprite.svg#icon-star-5"></use>
                </svg>
                <svg
                  class="icon icon--star"
                  width="20"
                  height="20"
                  aria-hidden="true"
                >
                  <use href="./sprite.svg#icon-star-5"></use>
                </svg>
                <svg
                  class="icon icon--star"
                  width="20"
                  height="20"
                  aria-hidden="true"
                >
                  <use href="./sprite.svg#icon-star-5"></use>
                </svg>
                <svg
                  class="icon icon--star"
                  width="20"
                  height="20"
                  aria-hidden="true"
                >
                  <use href="./sprite.svg#icon-star-5"></use>
                </svg>
                <svg
                  class="icon icon--star"
                  width="20"
                  height="20"
                  aria-hidden="true"
                >
                  <use href="./sprite.svg#icon-star-5"></use>
                </svg>
              </div>
              <p class="reviews__text">
                Love the hexagon twist on classic block puzzles.
              </p>
            </div>
          </div>
        </article>

        <article class="reviews__card">
          <svg
            class="icon icon--avatar"
            width="48"
            height="48"
            aria-hidden="true"
          >
            <use href="./sprite.svg#icon-frame-9-3"></use>
          </svg>
          <div class="reviews__author">
            <div>
              <p class="reviews__name">CalmGamer42</p>
              <div class="reviews__stars" aria-label="5 out of 5 stars">
                <svg
                  class="icon icon--star"
                  width="20"
                  height="20"
                  aria-hidden="true"
                >
                  <use href="./sprite.svg#icon-star-5"></use>
                </svg>
                <svg
                  class="icon icon--star"
                  width="20"
                  height="20"
                  aria-hidden="true"
                >
                  <use href="./sprite.svg#icon-star-5"></use>
                </svg>
                <svg
                  class="icon icon--star"
                  width="20"
                  height="20"
                  aria-hidden="true"
                >
                  <use href="./sprite.svg#icon-star-5"></use>
                </svg>
                <svg
                  class="icon icon--star"
                  width="20"
                  height="20"
                  aria-hidden="true"
                >
                  <use href="./sprite.svg#icon-star-5"></use>
                </svg>
                <svg
                  class="icon icon--star"
                  width="20"
                  height="20"
                  aria-hidden="true"
                >
                  <use href="./sprite.svg#icon-star-5"></use>
                </svg>
              </div>
              <p class="reviews__text">
                Perfect evening unwind — no timers, just clever layouts.
              </p>
            </div>
          </div>
        </article>

        <article class="reviews__card">
          <svg
            class="icon icon--avatar"
            width="48"
            height="48"
            aria-hidden="true"
          >
            <use href="./sprite.svg#icon-frame-9-4"></use>
          </svg>
          <div class="reviews__author">
            <div>
              <p class="reviews__name">GemSeeker</p>
              <div class="reviews__stars" aria-label="5 out of 5 stars">
                <svg
                  class="icon icon--star"
                  width="20"
                  height="20"
                  aria-hidden="true"
                >
                  <use href="./sprite.svg#icon-star-5"></use>
                </svg>
                <svg
                  class="icon icon--star"
                  width="20"
                  height="20"
                  aria-hidden="true"
                >
                  <use href="./sprite.svg#icon-star-5"></use>
                </svg>
                <svg
                  class="icon icon--star"
                  width="20"
                  height="20"
                  aria-hidden="true"
                >
                  <use href="./sprite.svg#icon-star-5"></use>
                </svg>
                <svg
                  class="icon icon--star"
                  width="20"
                  height="20"
                  aria-hidden="true"
                >
                  <use href="./sprite.svg#icon-star-5"></use>
                </svg>
                <svg
                  class="icon icon--star"
                  width="20"
                  height="20"
                  aria-hidden="true"
                >
                  <use href="./sprite.svg#icon-star-5"></use>
                </svg>
              </div>
              <p class="reviews__text">
                Beautiful art and satisfying clears every single run.
              </p>
            </div>
          </div>
        </article>

        <article class="reviews__card">
          <svg
            class="icon icon--avatar"
            width="48"
            height="48"
            aria-hidden="true"
          >
            <use href="./sprite.svg#icon-frame-9"></use>
          </svg>
          <div class="reviews__author">
            <div>
              <p class="reviews__name">NovaNest</p>
              <div class="reviews__stars" aria-label="5 out of 5 stars">
                <svg
                  class="icon icon--star"
                  width="20"
                  height="20"
                  aria-hidden="true"
                >
                  <use href="./sprite.svg#icon-star-5"></use>
                </svg>
                <svg
                  class="icon icon--star"
                  width="20"
                  height="20"
                  aria-hidden="true"
                >
                  <use href="./sprite.svg#icon-star-5"></use>
                </svg>
                <svg
                  class="icon icon--star"
                  width="20"
                  height="20"
                  aria-hidden="true"
                >
                  <use href="./sprite.svg#icon-star-5"></use>
                </svg>
                <svg
                  class="icon icon--star"
                  width="20"
                  height="20"
                  aria-hidden="true"
                >
                  <use href="./sprite.svg#icon-star-5"></use>
                </svg>
                <svg
                  class="icon icon--star"
                  width="20"
                  height="20"
                  aria-hidden="true"
                >
                  <use href="./sprite.svg#icon-star-5"></use>
                </svg>
              </div>
              <p class="reviews__text">
                I keep coming back for “just one more” peaceful puzzle.
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>

    <div class="reviews__controls">
      <button
        class="reviews__btn"
        type="button"
        data-reviews-prev
        aria-label="Previous reviews"
      >
        <svg class="icon icon--arrow" width="28" height="28" aria-hidden="true">
          <use href="./sprite.svg#icon-i-1"></use>
        </svg>
      </button>
      <button
        class="reviews__btn"
        type="button"
        data-reviews-next
        aria-label="Next reviews"
      >
        <svg class="icon icon--arrow" width="28" height="28" aria-hidden="true">
          <use href="./sprite.svg#icon-state-default"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
