/* Styles for Mobile devices */
.container {
  width: 100%;
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  /* padding: 0 clamp(12px, 4.27vw, 20px); */
  padding: 0 16px;
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
