.icon {
  display: block;
  flex-shrink: 0;
}

.icon--arrow {
  width: 24px;
  height: 24px;
}

.icon--star {
  width: 16px;
  height: 15px;
}

.icon--avatar {
  width: 48px;
  height: 48px;
}

.google-play__icon {
  width: 24px;
  height: 26px;
}

@media only screen and (min-width: 1440px) {
  .icon--avatar {
    width: 56px;
    height: 56px;
  }

  .icon--arrow {
    width: 28px;
    height: 28px;
  }
}
